#pagination-container{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.btn-pagination {
    cursor: pointer;
}

button:first-child{
margin-right: 10px;
}

button:last-child{
margin-left: 10px;
}